<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :useranme %>
    <%= f.text_field :useranme %>
  </div>

  <div class="field">
    <%= f.label :passwd %>
    <%= f.text_field :passwd %>
  </div>

  <div class="field">
    <%= f.label :lat %>
    <%= f.number_field :lat, :class => 'text_field', :step => 'any' %>
  </div>

  <div class="field">
    <%= f.label :long %>
    <%= f.number_field :long, :class => 'text_field', :step => 'any' %>
  </div>

  <div class="field">
    <%= f.label :img %>
    <%= f.text_field :img %>
  </div>

  <div class="field">
    <%= f.label :coments %>
    <%= f.text_field :coments %>
  </div>

  <div class="field">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
